<div class="jumbotron">
<p>{{quotes.description}}</p>


<div class="four wide column center aligned votes">
        <div class="ui statistic">
          
          <div class="value">
            {{ votes }}
          </div> 
          <div class="label">
            Votes:
          </div>
      
        </div>
      
      </div>
      
      <div class="twelve wide column">
      
        <ul class="ui big horizontal list voters">
          <li class="item">
            <a href (click)="likeVote()">
            <i class="arrow up icon"></i>
              👍🏻 LIKE
            </a><BR><BR>
          </li>
      
          <li class="item">
            <a href (click)="dislikeVote()">
            <i class="arrow down icon"></i>
              👎🏻 DISLIKE
            </a>
          </li>
      
        </ul>
      </div>
  
<button class="btn btn-danger btn-sm"  (click) = 'quoteDelete(true)'> Delete quote </button>
</div>