*{
    margin-left: 50px;
    /* background-image: url(./) */
    margin-right: 50px;
    
}


h3{
    font-weight: bold;
    font-style: italic;
}

.jumbotron{
    background-color: red;
    border-radius: 50px;
}

